[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
census = "9TNbyekg5Ck8Hx9EMwDNcH97sDZYZJamdvnGFhwH1UsH"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
initialize = "npx ts-node scripts/initialize.ts"
register = "npx ts-node scripts/register-citizens.ts"
test-submit = "npx ts-node scripts/test-submit.ts"
advance-scope = "npx ts-node scripts/advance-scope.ts"
check-merkle-root = "npx ts-node scripts/check-merkle-root.ts"

[hooks]
